# Don't Mess With. Deals with config conversion
version: 5.0.0
# This option controls whether the plugin will check for plugin updates upon startup or every four hours.
# Players with the update permission will receive a message if one is available.
updateCheckerEnabled: true
# effectDestination controls which elevator the effects and elevators sounds will play at. Options are:
# Origin
# Destination
# Both
effectDestination: ORIGIN
# Dictates which elevator the player needs permission from to teleport.Options are:
# Origin
# Destination
# Both
permissionMode: BOTH
# This option controls whether elevators should always face upwards.
forceFacingUpwards: true
# This configuration section will automatically populate as supported protection plugins are detected.
# "allowCustomization" will determine whether a player can toggle the hook check on and off individually for an elevator.
# "blockNonMemberUseDefault" sets the default state for the individual elevator's protection. If marked as true, only trusted / members or those with bypass perms will be able to use the elevator.
protectionHooks:
  GriefPrevention:
    allowCustomization: true
    blockNonMemberUseDefault: true
# Locale change. All messages support color codes.
locale:
  cantCreateMessage: '&b&lELEVATORS&f You do not have permission to create this Elevator!'
  cantDyeMessage: '&b&lELEVATORS&f You do not have permission to dye this Elevator!'
  cantUseMessage: '&b&lELEVATORS&f You do not have permission to use this Elevator!'
  cantGiveMessage: '&b&lELEVATORS&f You do not have permission to give Elevators!'
  cantAdministrateMessage: '&b&lELEVATORS&f You do not have permission to administrate
    Elevators!'
  cantReloadMessage: '&b&lELEVATORS&f You do not have permission to reload Elevators!'
  notEnoughRoomGiveMessage: '&b&lELEVATORS&f You do not have enough space in your
    inventory! The Elevator is on the ground in front of you!'
  givenElevatorMessage: '&b&lELEVATORS&f You have been given an Elevator!'
  worldDisabledMessage: '&b&lELEVATORS&f Elevators have been disabled in this world!'
  elevatorNowProtected: '&b&lELEVATORS&f The elevator can now only be used by trusted
    players.'
  elevatorNowUnprotected: '&b&lELEVATORS&f The elevator can now be used by anyone.'
  chatInputBackOut: '&7Type "cancel" to back out of chat input.'
  chatInputBackOutAllowReset: '&7Type "cancel" to back out of chat input or type "reset"
    to reset.'
  enterFloorName: '&c&lELEVATORS&f Enter a new floor name into the chat.'
  enterTitle: '&c&lELEVATORS&f Enter a new title into the chat.'
  enterSubtitle: '&c&lELEVATORS&f Enter a new subtitle into the chat.'
  enterMessage: '&c&lELEVATORS&f Enter a new message into the chat.'
  enterCommand: '&c&lELEVATORS&f Enter a new command into the chat.'
# If this option is enabled, elevators will only work with trusted users in claims by default. Elevators can be changed individually to allow visitors by trusted members.
claimProtectionDefault: true
# If this option is enabled, elevators will be able to be placed using dispensers. Keep in mind that this can be used to bypass the elevator placement permission.
allowElevatorDispense: false
# Elevators cannot be used in the world names listed below.
disabledWorlds:
  - example_world
effects:
  creeper:
    # The image file that the effect will try to recreate.
    file: Creeper.png
    # Scales down the effect to be a percentage of original images width and height.
    scale: 1
    # Controls how long the effect will be present before disappearing.
    duration: 1.0
    # Elevators can use particles to create the effect (heavy on potato computers), or can hook into Holograms.
    useHolo: true
    # Any color of this hex found in the image file will be made transparent.
    background: '#FFFFFF'
elevators:
  DEFAULT:
    # The item display name of the elevator.
    displayName: Elevator
    usePermission: elevators.use.default
    dyePermission: elevators.dye.default
    # The maximum distance an elevator will search for the receiving end. Set to -1 to disable.
    maxDistance: 20
    # The maximum amount of solid blocks that can be between the sending and receiving elevator.
    maxSolidBlocks: -1
    # The maximum stack size of elevators.
    maxStackSize: 16
    # This option will require both a destination and origin elevator to be of the same type.
    classCheck: true
    # This option will stop the use of elevators if the receiving elevator has a blocked path.
    stopObstruction: true
    # If this option is disabled, players will not be able to dye elevators different colors.
    supportDying: true
    # Whether the elevator will allow teleportation to an elevator of a different color.
    checkColor: true
    # If enabled, this will require the player to have the 'use' permission for the elevator.
    checkPerms: true
    # This config option controls whether elevators should be able to explode from TNT or mobs.
    canExplode: false
    # Allows the addition of a hologram that appears above elevators of this type.
    hologramLines: []
    # Allows the addition of a lore to the item stack.
    # This can be useful both to look great or to create support for plugins with lore blacklists.
    loreLines: []
    # Define actions that can be run on elevator usage.
    # Default actions are:
    # action-bar, boss-bar, command-console
    # command-player, message-all, message-player
    # sound, title, effect, cost
    #
    # If you do not wish to use actions on use, you can either delete the actions section
    # or set the "up" and "down" values to an empty array with "[]". PlaceholderAPI is supported.
    # Some default effects are: "arrow","helix", "sparkles"
    #
    # IF AN IDENTIFIER KEY HAS BEEN GENERATED, DO NOT MESS WITH IT OR INDIVIDUAL ELEVATOR DATA MAY BE LOST.
    actions:
      up:
        - 'sound: volume=1.0 sound=ENTITY_BLAZE_SHOOT pitch=2.0'
      down:
        - 'sound: volume=1.0 sound=ENTITY_BLAZE_SHOOT pitch=2.0'
    # Define elevator settings that should not be customizable by users.
    # Available settings are:
    # can-explode, check-color, check-perms, check-type, change-holo, stop-obstruction
    #
    # Custom actions may have their own settings that can be disabled through use of the action key, a forward-slash, and the setting name.
    # Available action settings are:
    # message-player/message, sound/sound, sound/volume, sound/pitch, title/title, title/subtitle, action-bar/message, boss-bar/message, effect/effect
    disabledSettings:
      - change-holo
      - sound/sound
      - action-bar/message
      - boss-bar/message
      - message-player/message
      - title/title
      - title/subtitle
      - effect/effect
    # Define recipes to craft an elevator type. If you do not wish to have any recipes, replace the section
    # with an empty map by settings recipes to "{}". Example:
    # recipes: {}
    recipes:
      classic:
        amount: 1
        # If "supportMultiColorMaterials" is disabled, this permission will allow crafting as is. If "supportMultiColorMaterials" is enabled, a wildcard or dye-color needs to be appended to this permission for proper checking.
        craftPermission: elevators.craft.default
        # This option controls the elevator output color if "supportMultiColorOutput" is disabled.
        defaultOutputColor: RED
        # If this option is disabled, all variations of this recipe will be of the "defaultOutputColor".
        supportMultiColorOutput: true
        # If this option is enabled, multiple variations of this recipe will be created for each dyed color.
        supportMultiColorMaterials: true
        # Create a shaped recipe using unique characters here and map these characters to materials in the "material" config option.
        recipe:
          - www
          - wew
          - www
        # Map characters to their materials. If "supportMultiColorMaterials" is enabled, dye colors in materials such as "white" in "white_wool" will be substituted for different dye colors.
        materials:
          w: white_wool
          e: ender_pearl
