# Don't Mess With. Deals with config conversion
version: "5.0.0"

# Back-end options

## This option controls whether the plugin will check for plugin updates upon startup or every four hours.
## Players with the update permission will receive a message if one is available.
updateCheckerEnabled: true

# Locale change. All messages support color codes.

locale:
  cantCreateMessage: "&b&lELEVATORS&f You do not have permission to create this Elevator!"
  cantDyeMessage: "&b&lELEVATORS&f You do not have permission to dye this Elevator!"
  cantUseMessage: "&b&lELEVATORS&f You do not have permission to use this Elevator!"
  cantGiveMessage: "&b&lELEVATORS&f You do not have permission to give Elevators!"
  cantReloadMessage: "&b&lELEVATORS&f You do not have permission to reload Elevators!"
  cantAdministrateMessage: '&b&lELEVATORS&f You do not have permission to administrate Elevators!'
  givenElevatorMessage: "&b&lELEVATORS&f You have been given an Elevator!"
  notEnoughRoomGiveMessage: "&b&lELEVATORS&f You do not have enough space in your inventory! The Elevator is on the ground in front of you!"
  notEnoughMoneyMessage: "&b&lELEVATORS&f You need %left% to use this elevator!"
  moneyTakenMessage: "&b&lELEVATORS&f %amount% has been taken from your account!"
  worldDisabledMessage: '&b&lELEVATORS&f Elevators have been disabled in this world!'
  elevatorGiveName: '&b&lELEVATORS&f Enter a new name for this elevator in the chat.'
  elevatorNowProtected: '&b&lELEVATORS&f The elevator can now only be used by trusted players.'
  elevatorNowUnprotected: '&b&lELEVATORS&f The elevator can now be used by anyone.'
  actionEnterCommand: '&b&lELEVATORS&f Enter a command into the chat for the action.'
  actionMessageCommand: '&b&lELEVATORS&f Enter a message into the chat for the action.'
  actionEnterSound: '&b&lELEVATORS&f Enter a bukkit sound name into the chat for the action.'
  actionEnterPitch: '&b&lELEVATORS&f Enter a pitch between 0 and 2 for the action.'
  actionEnterVolume: '&b&lELEVATORS&f Enter a volume between 0 and 10 for the action.'
  actionEnterActionBar: '&b&lELEVATORS&f Enter a message to appear in the action bar for the action.'
  actionEnterTitle: '&b&lELEVATORS&f Enter a message to appear in the title for the action.'
  actionEnterSubTitle: '&b&lELEVATORS&f Enter a message to appear in the subtitle for the action. Leave blank or type "null" to provide no subtitle.'
  actionBossBarStyle: '&b&lELEVATORS&f Scroll through your inventory to change the appearance of the bar. Punch the air or a block to select the style.'
  actionBossBarMessage: '&b&lELEVATORS&f Enter a message into the chat for the action.'
  actionBossBarOnlyOne: '&b&lELEVATORS&f You may only have one bossbar action per direction.'

# Global Configuration

## Forces the elevator to face upwards upon placement. Just looks better
playEffectOnNext: false
forceFacingUpwards: true

#Disabled Worlds
##Lists worlds that elevators should not work in.
disabled-worlds:
  - 'example_world'

# Effects

effects:
  creeper:
    file: "Creeper.png"
    scale: 50
    duration: 1.0
    useHolo: true
    background: "#FFFFFF"
    
# Elevator Classifications

elevators:
  default:
    ## The item display name of the elevator:
    displayName: "Elevator"
    ## The maximum distance an elevator will search for the receiving end. Set to -1 to disable:
    maxDistance: 20
    ## The maximum amount of solid blocks that can be between the sending and receiving elevator:
    maxSolidBlocks: -1
    ## The maximum stack size of elevators
    maxStackSize: 16
    costUp: 0.0
    costDown: 0.0
    classCheck: true
    ## This option will stop the use of elevators if the receiving elevator has a blocked path
    stopObstruction: true
    ## This option controls whether the shulker will support dye colors besides the default:
    coloredOutput: true
    ## Whether the elevator will allow teleportation to an elevator of a different color:
    checkColor: true
    ## If enabled, this will require the player to have the 'use' permission for the elevator:
    checkPerms: true
    ## This config option controls whether elevators should be able to explode from TNT or mobs:
    canExplode: false
    ## This option sets the default color of the elevator. This is really only useful if 'coloredOutput' is false:
    defaultColor: "WHITE"
    holo: []
    ## Allows the addition of a lore to the shulkerbox.
    ## This can be useful both to look great or to create support for plugins with lore blacklists.
    lore: []

    ## Define actions that can be run on elevator usage.
    ## Available actions are:
    ### command-console
    ### command-player
    ### message-player
    ### message-all
    ### sound

    ## If you do not wish to use actions on use, you can either delete the actions section
    ## or set the "up" and "down" values to an empty array with "[]" such as shown with the "down" value. PlaceholderAPI is supported.

    actions:
      up:
        - "sound: ENTITY_BLAZE_SHOOT pitch=2.0 volume=1.0"
      down:
        - "sound: ENTITY_BLAZE_SHOOT pitch=2.0 volume=1.0"

          ## Elevators supports the addition of multiple recipes for elevator creation.
          ## To add another recipe, copy the data of "classic" and rename it to something unique.
          ### amount changes the amount of elevators made from the recipe
          ### permission will define the permission node required to use the elevator if "checkPerms" is true.
          ### coloredCrafting adds support for changing the elevator color in the recipe based on ingredients. F.E. Blue wool will make a blue elevator.

          ### The materials and recipe options are maps. In 'materials', you define what a character in 'recipe' should represent.
          ### By default, 'recipe' shows a single enderpearl surrounded by white_wool. (Wool is colorable, so if coloredCrafting is enabled, it doesn't matter
          ### what color of wool is chosen here, so long as it is an existing material)
          ### List of colorable blocks: Shulker boxes, concrete, concrete powder, wool, beds, banners, carpet, dyes, stained glass (and panes).

    recipes:
      classic:
        amount: 1
        permission: "elevators.craft.default.classic"
        coloredCrafting: true
        materials:
          w: white_wool
          e: ender_pearl
        recipe:
          - "www"
          - "wew"
          - "www"
        